 {% extends 'LookAppBundle::look_layout.html.twig' %} 
 
 {% block columns %}
    <div class="left_content">
        {% block left_content %}
        {% endblock %}
    </div>
    
    <div class="right_content">
        {% block right_content %}
        {% endblock %}
    </div>
 {% endblock %}
