{% form_theme form 'LookAppBundle:Form:custom_form_layout.html.twig' %}
{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{% block title %} Update Category {% endblock %}

{% set menu_selected = 'admin' %}

{% block content %}

    <div class="form_wrapper">
    <form action="{{ path('update_category', { 'category_id' : category_id }) }}" method="POST" id="update_category_form">
        {{ form_errors(form) }}

        <div class="form_row"><h2>Update Category</h2></div>
        
        {{ form_row(form.name) }}

        {{ form_rest(form) }}
        <input type="submit" value="Update" class="symfony-button-grey" />
    </form>
    </div>

{% endblock %}
