{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{% block title %} Products {% endblock %}

{# initialize variables #}
{% set menu_selected = 'about' %}

{% block content %}
    <h1> Under construction ... </h1>
{% endblock %}