{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{% block title %} Products {% endblock %}

{# initialize variables #}
{% set menu_selected = 'about' %}

{% block content %}
<div style="padding:20px">
    <h1> Who are we ? </h1>
    <hr>
    <p style="width:400px">
            <span style="padding-left:3em">Our wonderful story starts back in 2014 when we thought that a business
        will be something great.</span>
    </p>
    <p style="width:400px">
            <span style="padding-left:3em">With thousands of accessories including bags, jewelry and others available 
        at your fingertips, a visit to our website takes you on a trip through the
        magically diverse world of accessorizing.</span>
    </p>
    <p style="width:400px">
            <span style="padding-left:3em">The Look Accessories collection offers a giant wearing box of seasonal 
        color where women can indulge in a spontaneous, guilt-free shopping experience.</span>
    </p>
    <p style="width:400px">
            <span style="padding-left:3em">Great prices and good quality are as much a part of Accessorize as our 
        fashion-forward style credentials are; meaning that our jewelry, bags and 
        accessories are accessible and fun to wear as well as being bang on trend.</span>
    </p> 
</div>
{% endblock %}
