{% extends 'LookAppBundle::look_layout_center.html.twig' %}

{% block title %} Products {% endblock %}

{# initialize variables #}

{% block content %}
<h1> The page you requested could not be found. </h1>

{% endblock %}
